@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Shadows+Into+Light&family=Source+Code+Pro&display=swap');

.App {
  font-family: sans-serif;
  text-align: center;
  width: 450px;
  height: 500px;
  font-size: 1.5rem;
  color: #ccc;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  /* From https://css.glass */
  -webkit-backdrop-filter: blur(7.2px);
  backdrop-filter: blur(7.2px);
  background: rgba(255, 255, 255, 0.41);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.34);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  background-image: url('https://images.alphacoders.com/667/thumb-1920-667386.jpg');
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  display: grid;
  height: 100%;
  place-content: center;
}

h1 {
  font-family: 'Shadows Into Light', cursive;
  font-size: 3.5rem;
}

.lista {
  height: 250px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

ul {
  overflow-x: hidden;
  overflow-y: auto;
}

ul li {
  align-items: center;
  display: flex;
  gap: 0.3rem;
  justify-content: space-between;
  list-style: none;
  padding: 0.5rem 2rem 0 2rem;
  text-align: left;
}

form {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 400px;
  gap: 0.2rem;
}

form div {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.2rem;
}

.form_controller_input {
  border-radius: 5px;
  font-family: inherit;
  font-size: inherit;
  height: 2rem;
  padding: 0.5rem;
  width: 100%;
  border: 2px #ffa00100 solid;
  margin-top: 0.4rem;
}

input[type='number'] {
  width: 70px;
}

.form_controller_btn {
  border-radius: 5px;
  font-family: inherit;
  font-size: inherit;
  height: 2rem;
  padding: 0.5rem;
  border: 2px #ffa00100 solid;
  margin-top: 0.4rem;
  background: #ff4433;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form_controller_btn i {
  color: #ccc;
}

.form_controller_input:focus {
  outline: 2px #ff4433 solid;
}

i {
  font-size: 2rem;
  color: #ff4433;
}

i:hover {
  color: #ff0000;
}

.borrar_todo {
  align-items: center;
  background: #ff4433;
  border-radius: 5px;
  border: 1px solid #ff4433;
  color: white;
  display: flex;
  font-size: 1.5rem;
  height: 2rem;
  justify-content: center;
  width: 100%;
}

.borrar_todo:hover {
  border: 2px solid #ccc;
}
